@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Header font and weight */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold mb-1 mt-2;
}

/* Header sizes */
h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

/* Paragraph sizes */
p {
  @apply text-sm;
}

ul {
  @apply list-disc list-inside;
}

li {
  @apply text-sm;
}

code {
  @apply bg-gray-200 text-gray-800 p-1 rounded;
}

.bg-pattern {
  background-color: #f4f4fa;
  opacity: 0.8;
  background-image: linear-gradient(#b4b4c1 2px, transparent 2px),
    linear-gradient(90deg, #b4b4c1 2px, transparent 2px),
    linear-gradient(#b4b4c1 1px, transparent 1px),
    linear-gradient(90deg, #b4b4c1 1px, #f4f4fa 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
